#**Data Preprocessing**

In [ ]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.tokenize import WordPunctTokenizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
df = pd.read_csv("Bali Hotel Review.csv", skiprows=1)

In [ ]:
df

,Location,Hotel,UserID,Title,Review,Rating,Value,Accessibility,Service,Room,Cleanliness,Sleep Quality
0,Legian Kuta Bali,Merccure Bali Legian,Barry Sloan,Nice Hotek,Check in was smooth although my room wasn’t re...,4,0.0,0.0,1.0,0.0,0.0,0.0
1,Legian Kuta Bali,Merccure Bali Legian,u4ianoosa,"Perfect location, great Facilities",We thoroughly enjoyed our stay at Mercure Legi...,5,0.0,0.0,1.0,1.0,0.0,0.0
2,Legian Kuta Bali,Merccure Bali Legian,Phoenix G,A Fortnight at Mercure Legian Bali,Really the rating is 4.7 (I will attempt to ma...,5,0.0,1.0,1.0,0.0,0.0,0.0
3,Legian Kuta Bali,Merccure Bali Legian,Brenda,Best Bali Holiday,First time travelling to Bali with our 5 year ...,5,0.0,1.0,0.0,0.0,1.0,0.0
4,Legian Kuta Bali,Merccure Bali Legian,Sukhwinder K,Mrs,"Very nice want to come back again, kids enjoye...",5,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5793,Legian Kuta Bali,The Stones Hotel Legian Bali,Baldwin_Mr,A great experience!,"This is a great hotel! , great food - particul...",5,0.0,1.0,0.0,1.0,0.0,0.0
5794,Legian Kuta Bali,The Stones Hotel Legian Bali,Eileen R,Great hotel!,My girlfriend and i had a fabulous time! Pool ...,5,0.0,1.0,0.0,0.0,0.0,0.0
5795,Legian Kuta Bali,The Stones Hotel Legian Bali,Bunnings8,Absolutely fantastic fantastic location,We found The Stones Hotel 5/5 from the moment ...,5,0.0,0.0,1.0,0.0,0.0,1.0
5796,Legian Kuta Bali,The Stones Hotel Legian Bali,degedz,Best time ever,"We loved the stones Hotel , from the moment yo...",5,0.0,1.0,0.0,0.0,0.0,1.0
5797,Legian Kuta Bali,The Stones Hotel Legian Bali,Michelle,Beautiful property & very friendly staff,This hotel was one of our favourites in Bali! ...,5,0.0,1.0,1.0,0.0,0.0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5798 entries, 0 to 5797
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       5798 non-null   object
 1   Hotel          5798 non-null   object
 2   UserID         5798 non-null   object
 3   Title          5798 non-null   object
 4   Review         5798 non-null   object
 5   Rating         5798 non-null   int64
 6   Value          5787 non-null   float64
 7   Accessibility  5786 non-null   float64
 8   Service        5787 non-null   float64
 9   Room           5787 non-null   float64
 10  Cleanliness    5787 non-null   float64
 11  Sleep Quality  5783 non-null   float64
dtypes: float64(6), int64(1), object(5)
memory usage: 543.7+ KB

#**Normalize Array**

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import WordPunctTokenizer
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/felenwu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
# Define a tokenizer and stopwords
wpt = WordPunctTokenizer()
stop_words = set(stopwords.words('english'))

In [ ]:
def normalize_document(doc):
    doc = re.sub(r'[^a-zA-Z\s]', '', doc, re.I|re.A)
    doc = re.sub(r'\W', ' ', doc)
    doc = doc.lower()
    doc = doc.strip()
    tokens = wpt.tokenize(doc)
    filtered_tokens = [token for token in tokens if token not in stop_words]
    doc = ' '.join(filtered_tokens)
    return doc

In [ ]:
df['Normalized_Review'] = df['Review'].apply(normalize_document)

In [ ]:
df['Normalized_Review']

0       check smooth although room wasnt ready pm due ...
1       thoroughly enjoyed stay mercure legian fantast...
2       really rating attempt make review short mercur...
3       first time travelling bali year old staying me...
4       nice want come back kids enjoyed hotel facilit...
                              ...
5793    great hotel great food particularly breakfast ...
5794    girlfriend fabulous time pool lovely great hap...
5795    found stones hotel moment checked left helpful...
5796    loved stones hotel moment walked welcomed pool...
5797    hotel one favourites bali location great plent...
Name: Normalized_Review, Length: 5798, dtype: object

In [ ]:
type(df['Normalized_Review'])

pandas.core.series.Series

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer(min_df=0.2, max_df=0.9)

In [ ]:
cv_matrix = cv.fit_transform(df['Normalized_Review'])

In [ ]:
print(cv_matrix)

  (0, 12)	3
  (0, 7)	2
  (0, 14)	1
  (0, 5)	1
  (0, 13)	1
  (0, 2)	1
  (0, 6)	2
  (0, 9)	1
  (0, 15)	1
  (1, 12)	2
  (1, 15)	3
  (1, 8)	1
  (2, 12)	1
  (2, 7)	1
  (2, 14)	2
  (2, 13)	1
  (2, 15)	1
  (3, 12)	1
  (3, 7)	2
  (3, 14)	1
  (3, 9)	1
  (3, 0)	1
  (3, 11)	2
  (3, 3)	2
  (4, 14)	1
  :	:
  (5793, 4)	1
  (5793, 1)	1
  (5794, 7)	2
  (5794, 2)	1
  (5794, 9)	1
  (5794, 8)	1
  (5794, 11)	1
  (5795, 14)	1
  (5795, 2)	2
  (5795, 8)	1
  (5795, 11)	1
  (5796, 7)	2
  (5796, 14)	2
  (5796, 13)	1
  (5796, 2)	1
  (5796, 9)	1
  (5796, 8)	2
  (5796, 11)	1
  (5797, 7)	1
  (5797, 14)	1
  (5797, 5)	1
  (5797, 9)	1
  (5797, 15)	3
  (5797, 8)	2
  (5797, 0)	1

In [ ]:
cv_matrix = cv_matrix.toarray()

In [ ]:
cv_matrix

array([[0, 0, 1, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 3, 0],
       [0, 0, 0, ..., 2, 1, 0],
       ...,
       [0, 0, 2, ..., 1, 0, 0],
       [0, 0, 1, ..., 2, 0, 0],
       [1, 0, 0, ..., 1, 3, 0]])

In [ ]:
keywords = cv.get_feature_names_out()

In [ ]:
keywords

array(['bali', 'beach', 'breakfast', 'clean', 'food', 'friendly', 'good',
       'great', 'hotel', 'location', 'nice', 'pool', 'room', 'rooms',
       'staff', 'stay', 'stayed'], dtype=object)

In [ ]:
from sklearn.decomposition import LatentDirichletAllocation
lda = LatentDirichletAllocation (n_components=17, max_iter=1000)
dt_matrix=lda.fit_transform(cv_matrix)
features = pd.DataFrame(dt_matrix,columns=keywords)

In [ ]:
features

,bali,beach,breakfast,clean,food,friendly,good,great,hotel,location,nice,pool,room,rooms,staff,stay,stayed
0,0.004202,0.004202,0.075630,0.004202,0.004202,0.004202,0.004202,0.004202,0.147059,0.234822,0.004202,0.004202,0.240628,0.004202,0.251442,0.004202,0.004202
1,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.436975,0.436975,0.008403
2,0.008403,0.008403,0.151261,0.008403,0.008403,0.294118,0.008403,0.008403,0.151261,0.008403,0.008403,0.008403,0.008403,0.008403,0.151260,0.151261,0.008403
3,0.096257,0.005348,0.005348,0.187166,0.005348,0.096257,0.005348,0.005348,0.154169,0.005348,0.005348,0.005348,0.005348,0.278075,0.005348,0.005348,0.129254
4,0.228758,0.006536,0.006536,0.006536,0.006536,0.117647,0.006536,0.228758,0.006536,0.006536,0.158490,0.006536,0.006536,0.006536,0.006536,0.006536,0.187916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5793,0.006536,0.117647,0.006536,0.006536,0.006536,0.006536,0.117647,0.006536,0.006536,0.006536,0.006536,0.006536,0.006536,0.006536,0.254173,0.006536,0.425565
5794,0.008403,0.008403,0.008403,0.294118,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.008403,0.579832
5795,0.009804,0.009804,0.009804,0.262953,0.009804,0.176471,0.009804,0.009804,0.009804,0.009804,0.423321,0.009804,0.009804,0.009804,0.009804,0.009804,0.009804
5796,0.005348,0.005348,0.109266,0.174157,0.005348,0.187166,0.005348,0.005348,0.005348,0.005348,0.005348,0.005348,0.005348,0.005348,0.005348,0.005348,0.459893
5797,0.096257,0.005348,0.005348,0.005348,0.005348,0.005348,0.005348,0.005348,0.005348,0.211941,0.005348,0.005348,0.005348,0.005348,0.005348,0.253300,0.368984

In [ ]:
user_keywords = ['beach', 'breakfast', 'clean', 'food', 'friendly', 'good',
       'great', 'hotel', 'location', 'nice', 'pool', 'room', 'staff']

In [ ]:
normalized_keywords = normalize_document(" ".join(user_keywords))

In [ ]:
normalized_keywords

'beach breakfast clean food friendly good great hotel location nice pool room staff'

#**TF-IDF Vectorizer**

In [ ]:
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(df['Normalized_Review'] + [normalized_keywords])

In [ ]:
print(tfidf_matrix[-1])

  (0, 6776)	0.21988206190233858
  (0, 9924)	0.2275224784568052
  (0, 13553)	0.21988206190233858
  (0, 4598)	0.20911349958684197
  (0, 10268)	0.21988206190233858
  (0, 9228)	0.1758419410161595
  (0, 11820)	0.18477815322044977
  (0, 725)	0.16916739608588552
  (0, 2181)	0.16916739608588552
  (0, 733)	0.12701991714730201
  (0, 4387)	0.16465512529244888
  (0, 13934)	0.14979254559172964
  (0, 7326)	0.12622706595603797
  (0, 13833)	0.11059461952461819
  (0, 5449)	0.13234943834595905
  (0, 9309)	0.14311800066145566
  (0, 12803)	0.12141743832992125
  (0, 1406)	0.13068153793988652
  (0, 8536)	0.12933081250311165
  (0, 4255)	0.1193795005928354
  (0, 4710)	0.11679338471687999
  (0, 13329)	0.13660790543631549
  (0, 7515)	0.1336083727233512
  (0, 4185)	0.10408923785748553
  (0, 4376)	0.09492370711513239
  :	:
  (0, 8601)	0.07415880568017315
  (0, 13651)	0.09936042012638774
  (0, 4939)	0.14133487863204264
  (0, 13341)	0.23332798862575618
  (0, 1055)	0.06606858011713009
  (0, 5762)	0.1139404594759958
  (0, 12721)	0.07385808814134194
  (0, 10370)	0.08063379377194808
  (0, 11212)	0.11081231371496582
  (0, 9948)	0.14887034355965426
  (0, 11657)	0.10548279251630881
  (0, 11872)	0.16853828727123618
  (0, 9338)	0.02655854252352567
  (0, 8314)	0.02655854252352567
  (0, 5991)	0.07967562757057702
  (0, 4861)	0.02655854252352567
  (0, 2357)	0.02655854252352567
  (0, 7274)	0.05311708504705134
  (0, 9278)	0.10781808708607474
  (0, 5334)	0.02655854252352567
  (0, 1666)	0.02655854252352567
  (0, 5018)	0.05311708504705134
  (0, 11782)	0.05311708504705134
  (0, 5420)	0.05311708504705134
  (0, 10580)	0.02655854252352567

In [ ]:
# Calculate cosine similarity between user's keywords and hotel reviews
cosine_similarities = cosine_similarity(tfidf_matrix[-1], tfidf_matrix[:-1])

In [ ]:
cosine_similarities

array([[0.03606249, 0.05870961, 0.05526489, ..., 0.08713313, 0.10397657,
        0.24227884]])

In [ ]:
# Get the indices of hotels sorted by cosine similarity
similar_hotel_indices = cosine_similarities.argsort()[0][::-1]

In [ ]:
recommended_hotels = [df['Hotel'].iloc[idx] for idx in similar_hotel_indices]

In [ ]:
unique_recommended_hotels = set()

In [ ]:
for hotel in recommended_hotels:
    unique_recommended_hotels.add(hotel)

In [ ]:
unique_recommended_hotels = list(unique_recommended_hotels)

In [ ]:
for i, hotel in enumerate(unique_recommended_hotels):
    if i < 5:
        print(hotel)

Anantara Uluwatu Bali Resort
The Anvaya Beach Resort
The Stones Hotel Legian Bali
Radisson Blu Resort Bali Uluwatu
The Apurva Kempinski